<html lang="en-US">
 {% include 'head' %}
 <body>
  {% include 'nav' %}
  {% include 'menu' %}
  {% include 'letters' %}
  <div class="content">
   <h2 class="pageHeading">{{ page.title }}</h2>
   {% for post in loop_content["posts"] %}
   {% if post.show == "true" %}
   <div class="preview">
    <h2 class="preview">{{ post.title }}</h2>
    <p class="preview">{{ post.description }}</p>
    <p class="previewLink">
     <a class="previewLink" href="{{ site.baseurl }}{{ post.url }}">{{ site.readMeText }}</a>
    </p>
   </div>
   {% else %}
   {% endif %}
   {% endfor %}
   {% include 'spacer' %}
  </div>
  {% include 'scripts' %}
 </body>
</html>
