---
/*
DOLL FACE by Alexander Abraham, a.k.a. "Angel Dollface".
Licensed under the MIT license.
*/
import * as site from '../config';
import AdCog from '../components/AdCog.astro';
import HeadCog from '../components/HeadCog.astro';
import FooterCog from '../components/FooterCog.astro';
import HeadingCog from '../components/HeadingCog.astro';
import DonationCog from '../components/DonationCog.astro';
const posts = (await Astro.glob('../pages/blog/*.{md,markdown,}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(-3);
export interface Props {
	content: {
		title: string;
		description: string;
	};
}
const {
	content: { 
		title, 
		description
	}
} = Astro.props;
const pfpUrl: string = site.pfpURL;
const landingGreeting: string = site.landingGreeting;
const selfDescription: string = site.selfDescription;
const latestArticlesText: string = site.latestArticlesText;
---

<!DOCTYPE html>
<html lang="en">
  <HeadCog
   name={title}
   description={description}
  />
 <body>
  <HeadingCog/>
  <div class="landing">
   <div class="pfp">
    <img class="pfp" src={pfpUrl}>
   </div>
   <div class="landingText">
    <h2 class="landingText">{landingGreeting}</h2>
    <p class="landingText">
     {selfDescription}
    </p>
   </div>
  </div>

  <h2 class="sectionHeading">{latestArticlesText}</h2>

   <br/>
  {posts.map(
   (post) => (
   <div class="preview" onclick="window.location.href='#'">
    <h2><a href={post.url} class="headingLink">{post.frontmatter.title}</a></h2>
    <p>{post.frontmatter.description}</p>
   </div>
    )
   )
  }
  <br/>
  <DonationCog/>
  <br/>
  <AdCog/>
  <br/>
  <FooterCog/>
</body>
</html>